/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content:space-between;
	align-items:center ;
}
.button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	border-style:none;
}
.main{
	align-items:center;
}
.img{
	width:350px; 
	height:200px;
	object-fit:cover;
}